html, body {
    background: #121212;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

#canvas {
    border: 5px solid #7F7F7F;
    border-top: none;
    display: block;
}